* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, .root {
  color: #2b2f47;
  background-color: #ebf2f5;
  font-family: Roboto;
  font-weight: 300;
  height: 100vh;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.header, .footer {
  height:100%;
  margin:auto;
}

.content {
  height:auto;
  width: 100%;
  max-width: 1040px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;

  flex: 0 0 90px;

  background-color: #2b2f47;
  padding: 20px 40px;
  margin-bottom: 40px;
  width: 100%;
  height: 90px;
}

.header .info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header .info h3 {
  color: #d8dcfa;
  font-size: 18px;
  font-weight: 700;
  margin-right: 22px;
}

.header .info p {
  color: #ebf2f5;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

.header img {
  height: 80px;
}

.footer {
  flex: 0 0 20px;

  width: 100%;
  text-align: center;
  color: #565656;
  font-size: 12px;
  font-weight: 400;
}

.content{
  flex: 1;
}


.alert {
  width: 100%;
  margin: 15px;
}

@media only screen and (max-width: 500px) {
  .header {
    justify-content: center !important;
  }
  .header h3 {
    display: none;
  }
}